{% extends "index/index.html" %}
{% load static %}
{%block body %}

<h1 id="heading">Sri Sai Medical Center</h1>
<img src="https://img.freepik.com/free-photo/hand-with-protective-gloves-holding-blood-samples-covid-test_23-2148958363.jpg?semt=ais_hybrid&w=740" alt="Image" height="300px" width="300px">
    <p id="animated-text-1">Tired of visiting hospitals and labs!</p>
        <p id="animated-text-2">why feel sad when we are here,</p>

        <ul id="features">
            <li>We provide Door Sample collection </li>
            <li>Geniune and budget friendly </li>
            <li>Authorised and Reliable</li>
            <li>Since 2003</li>
        </ul>

{% endblock %}