{%extends "index/index.html" %}


{% block "body" %}
<h3>All Tests Available are represented below...</h3>
<ul>
  <li>Blood Test</li>
  <li>Urinalysis</li>
  <li>X-ray</li>
  <li>Electrocardiogram (ECG or EKG)</li>
  <li>CT Scan (Computed Tomography)</li>
  <li>MRI (Magnetic Resonance Imaging)</li>
  <li>Blood Pressure Measurement</li>
  <li>Cholesterol Test</li>
  <li>Complete Blood Count (CBC)</li>
  <li>Blood Sugar Test (Glucose Test)</li>
  <li>Liver Function Test</li>
  <li>Kidney Function Test</li>
  <li>Pregnancy Test</li>
  <li>Thyroid Function Test</li>
  <li>HIV Test</li>
  <li>Hepatitis Test</li>
  <li>Stool Test</li>
  <li>Bone Density Test</li>
  <li>Pap Smear (Cervical Smear)</li>
  <li>Mammogram</li>
  <li>Prostate-Specific Antigen (PSA) Test</li>
  <li>Allergy Test</li>
  <li>Pulmonary Function Test</li>
  <li>Vision Test</li>
  <li>Hearing Test</li>
  <li>Skin Biopsy</li>
</ul>

{% endblock%}